._3Sxu7 {
  overflow: unset!important;
  display: none !important;
  flex: 1 1 0%;
  flex-direction: column;
}

video#video_track-video-173690664-client-f54cb_c51ea {
  object-fit: fill;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}